body {									background: #eeeeee;	color: #333333; }
table.zebra tr:nth-child(2n+1) {		background: #f9f9f9; }
table.zebra tr:nth-child(n+3):hover {	background: #cccccc;					box-shadow: 0 0 10px 0 rgba(0,0,0,.1); }
th, td, .icons, .props {														border: 1px solid #cccccc; }
button {								background: #ffffff;					box-shadow: 0 0 10px 0 rgba(0,0,0,.1); }
button:hover,
button.active,
button.pressed {						background: #4f7faf;	color: #f4f4f4; }
button.active.pressed {					background: #4faf7f;	color: #f4f4f4; }
button.jazz.pressed {					background: #af4f7f;	color: #f4f4f4; }

.tableWrap, .tumblerWrap {				background: #ffffff;					box-shadow: 0 0 10px 0 rgba(0,0,0,.15); }
.legendLabel.active {															box-shadow: 0 0 10px 0 rgba(0,0,0,.15) inset; }
.tumbler {								background: #4a76a8; }
.tumbler:hover {																box-shadow: 0 0 10px 1px rgba(0,0,0,.1); }
.slider {								background: #f4f4f4; }
.separator {																	border-bottom: 2px solid #cccccc; }
.prop:nth-child(n+2) {															border-top: 1px solid #cccccc; }

#header, #footer {						background: #4a76a8; }
#head-menu a, #f1 span {										color: #f4f4f4; }
#head-menu a:hover {					background: #4f7faf; }
#theme.tumbler {						background: #373737; }
#theme.slider {							background: center/cover url('../assets/images/moon.png'); }
